.fony {
	background-color: rgb(247, 245, 245);
	grid-area: fony;
	padding: 10rem;
	display: flex;
	p {
		display: flex;
		padding: 10px;
		text-align: center;
	}
	.img {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		border: solid 1px;
		padding: 10px;
		margin: 10px;
	}
}
.xd {
	background-color: bisque;
	padding: 1rem;
	display: flex;
	grid-area: xd;
	justify-content: space-around;
	align-items: center;
}
